@charset "UTF-8";
/*
  Цвета
*/
.grid, .pricelist {
  max-width: 960px;
  margin: 0 auto 0 auto; }

.pricelist {
  margin-top: 100px; }

table {
  border-collapse: collapse;
  margin: 0 auto; }

tr {
  font-size: 16px; }

th, td {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #5E9816;
}
